# Exercises dataframes

In [1]:
#Import the necessary packages
import pandas as pd

## 1. Soccer

Create a Pandas dataframe containing the `soccer_data`. Every list contains following data: 
- Player name
- Position
- Club
- Goals scored
- Age

Give the columns of the DataFrame appropriate names.

In [ ]:
soccer_data = [
    ['Lionel Messi', 'Forward', 'Inter Miami', 30, 12],
    ['Cristiano Ronaldo', 'Forward', 'Al Nassr', 25, 10],
    ['Neymar Jr', 'Forward', 'Al Hilal', 20, 18],
    ['Kylian Mbappe', 'Forward', 'PSG', 35, 15],
    ['Kevin De Bruyne', 'Midfielder', 'Manchester City', 15, 20],
    ['Mohamed Salah', 'Forward', 'Liverpool', 28, 14],
    ['Robert Lewandowski', 'Forward', 'Barcelona', 33, 9],
    ['Karim Benzema', 'Forward', 'Real Madrid', 27, 11],
    ['Luka Modric', 'Midfielder', 'Real Madrid', 10, 22],
    ['Erling Haaland', 'Forward', 'Manchester City', 40, 8]
]

In [5]:
# Create dataframe
columns = ["Player name", "Position", "Club", "Goals Scored", "Age"]
soccer_df = pd.DataFrame(soccer_data, columns=columns)
soccer_df

          Player name    Position             Club  Goals Scored  Age
0        Lionel Messi     Forward      Inter Miami            30   12
1   Cristiano Ronaldo     Forward         Al Nassr            25   10
2           Neymar Jr     Forward         Al Hilal            20   18
3       Kylian Mbappe     Forward              PSG            35   15
4     Kevin De Bruyne  Midfielder  Manchester City            15   20
5       Mohamed Salah     Forward        Liverpool            28   14
6  Robert Lewandowski     Forward        Barcelona            33    9
7       Karim Benzema     Forward      Real Madrid            27   11
8         Luka Modric  Midfielder      Real Madrid            10   22
9      Erling Haaland     Forward  Manchester City            40    8

**Renaming column** \
It seems, we made a mistake. Lionel Messi isn't 12 years old and Kevin De Bruyne isn't 20 either. \
Change the last column's name to "Assists" instead of "Age". Ensure the dataframe itself is affected.

In [8]:
# Renaming column
soccer_df.rename(columns={"Age": "Assists"}, inplace=True)
soccer_df

          Player name    Position             Club  Goals Scored  Assists
0        Lionel Messi     Forward      Inter Miami            30       12
1   Cristiano Ronaldo     Forward         Al Nassr            25       10
2           Neymar Jr     Forward         Al Hilal            20       18
3       Kylian Mbappe     Forward              PSG            35       15
4     Kevin De Bruyne  Midfielder  Manchester City            15       20
5       Mohamed Salah     Forward        Liverpool            28       14
6  Robert Lewandowski     Forward        Barcelona            33        9
7       Karim Benzema     Forward      Real Madrid            27       11
8         Luka Modric  Midfielder      Real Madrid            10       22
9      Erling Haaland     Forward  Manchester City            40        8

**Change the index labels** to player1, player2 etc.

In [11]:
# Index labels
length = len(soccer_df)
for i in range(length):
    soccer_df.rename(index={i:f"player{i}"}, inplace=True)

soccer_df

,Player name,Position,Club,Goals Scored,Assists
player0,Lionel Messi,Forward,Inter Miami,30,12
player1,Cristiano Ronaldo,Forward,Al Nassr,25,10
player2,Neymar Jr,Forward,Al Hilal,20,18
player3,Kylian Mbappe,Forward,PSG,35,15
player4,Kevin De Bruyne,Midfielder,Manchester City,15,20
player5,Mohamed Salah,Forward,Liverpool,28,14
player6,Robert Lewandowski,Forward,Barcelona,33,9
player7,Karim Benzema,Forward,Real Madrid,27,11
player8,Luka Modric,Midfielder,Real Madrid,10,22
player9,Erling Haaland,Forward,Manchester City,40,8

## 2. More soccer

This time, the soccer data is stored in a dictionary containing lists. The values of the dictionary, are lists containing the data of a column, the keys are the column names. Create a dataframe using the `soccer_data` below.

In [1]:
soccer_data = {
    'Player Name': [
        'Lionel Messi', 'Cristiano Ronaldo', 'Neymar Jr', 'Kylian Mbappe', 'Kevin De Bruyne', 
        'Mohamed Salah', 'Robert Lewandowski', 'Karim Benzema', 'Luka Modric', 'Erling Haaland'
    ],
    'Player Number': [10, 7, 11, 9, 17, 12, 8, 19, 3, 2],
    'Position': [
        'Forward', 'Forward', 'Forward', 'Forward', 'Midfielder', 
        'Forward', 'Forward', 'Forward', 'Midfielder', 'Forward'
    ],
    'Club': [
        'Inter Miami', 'Al Nassr', 'Al Hilal', 'PSG', 'Manchester City', 
        'Liverpool', 'Barcelona', 'Real Madrid', 'Real Madrid', 'Manchester City'
    ],
    'Goals Scored (Season)': [30, 25, 20, 35, 15, 28, 33, 27, 10, 40],
    'Assists (Season)': [12, 10, 18, 15, 20, 14, 9, 11, 22, 8]
}

In [5]:
# Create DataFrame'
soccer_df = pd.DataFrame(soccer_data)

soccer_df

,Player Name,Player Number,Position,Club,Goals Scored (Season),Assists (Season)
0,Lionel Messi,10,Forward,Inter Miami,30,12
1,Cristiano Ronaldo,7,Forward,Al Nassr,25,10
2,Neymar Jr,11,Forward,Al Hilal,20,18
3,Kylian Mbappe,9,Forward,PSG,35,15
4,Kevin De Bruyne,17,Midfielder,Manchester City,15,20
5,Mohamed Salah,12,Forward,Liverpool,28,14
6,Robert Lewandowski,8,Forward,Barcelona,33,9
7,Karim Benzema,19,Forward,Real Madrid,27,11
8,Luka Modric,3,Midfielder,Real Madrid,10,22
9,Erling Haaland,2,Forward,Manchester City,40,8

You see we have an extra column `Player Number` containing the player's shirt numbers. Use this data to set the index labels. Doing so, you see two dark grey rows on top containing names. Remove the index column name.

❓ Is it a good idea to use the players's numbers as index labels? Why (not)?

In [31]:
# Index labels
# soccer_df.index = soccer_df["Player Number"]

# soccer_df.rename(columns={"": "Player Number"}, inplace=True)
# soccer_df.rename(index={"Player Number":""}, axis=1)

soccer_df.index.name = None
soccer_df

,Player Name,Player Number,Position,Club,Goals Scored (Season),Assists (Season)
10,Lionel Messi,10,Forward,Inter Miami,30,12
7,Cristiano Ronaldo,7,Forward,Al Nassr,25,10
11,Neymar Jr,11,Forward,Al Hilal,20,18
9,Kylian Mbappe,9,Forward,PSG,35,15
17,Kevin De Bruyne,17,Midfielder,Manchester City,15,20
12,Mohamed Salah,12,Forward,Liverpool,28,14
8,Robert Lewandowski,8,Forward,Barcelona,33,9
19,Karim Benzema,19,Forward,Real Madrid,27,11
3,Luka Modric,3,Midfielder,Real Madrid,10,22
2,Erling Haaland,2,Forward,Manchester City,40,8

**Indexing** 
- Display the club of Kevin De Bruyne
- Change the club of Kevin De Bruyne to "Red Devils"
- Display the Player Name column
- Display the data of the player with shirt number 7, using both integer and label position

In [49]:
#Indexing
print(soccer_df.iloc[4].iloc[3])
# print(soccer_df.at[17, "Club"])

soccer_df.at[17, "Club"] = "White Angels"

print(soccer_df["Player Name"])

print(soccer_df.iloc[1])

print(soccer_df.loc[17])

White Angels
10          Lionel Messi
7      Cristiano Ronaldo
11             Neymar Jr
9          Kylian Mbappe
17       Kevin De Bruyne
12         Mohamed Salah
8     Robert Lewandowski
19         Karim Benzema
3            Luka Modric
2         Erling Haaland
Name: Player Name, dtype: object
Player Name              Cristiano Ronaldo
Player Number                            7
Position                           Forward
Club                              Al Nassr
Goals Scored (Season)                   25
Assists (Season)                        10
Name: 7, dtype: object
Player Name              Kevin De Bruyne
Player Number                         17
Position                      Midfielder
Club                        White Angels
Goals Scored (Season)                 15
Assists (Season)                      20
Name: 17, dtype: object

**Slicing** 
- Display the players with shirt number 10, 7 and 11 using both integer and label position
- Display the players with at least 10 assists
- Display all midfield players
- Display the Player Name, Position and Club of Karim, Luka and Erling

In [ ]:
#Slicing


## 3. Employees
In this lab exercise, you will explore a dataset containing information about employees in a company using Pandas. You will perform various data manipulation and analysis tasks to gain insights into the employee data.

**Dataset:**
You are provided with a dictionary `employee_data` containing employee information:

In [3]:
employee_data = {
    'EmployeeID': [
        101, 102, 103, 104, 105, 106, 107, 108, 109, 110,
        111, 112, 113, 114, 115, 116, 117, 118, 119, 120,
        121, 122, 123, 124, 125, 126, 127, 128, 129, 130
    ],
    'Name': [
        'Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jack',
        'Katherine', 'Leo', 'Mia', 'Nathan', 'Olivia', 'Paul', 'Quinn', 'Rachel', 'Samuel', 'Tina',
        'Uma', 'Victor', 'Wendy', 'Xander', 'Yasmine', 'Zack', 'Adam', 'Bella', 'Chris', 'Diana'
    ],
    'Department': [
        'HR', 'IT', 'Finance', 'Marketing', 'Sales', 'IT', 'HR', 'Finance', 'Marketing', 'Sales',
        'IT', 'HR', 'Finance', 'Marketing', 'Sales', 'HR', 'IT', 'Finance', 'Marketing', 'Sales',
        'IT', 'HR', 'Finance', 'Marketing', 'Sales', 'HR', 'IT', 'Finance', 'Marketing', 'Sales'
    ],
    'Salary': [
        60000, 75000, 80000, 70000, 65000, 72000, 68000, 81000, 69000, 66000,
        77000, 64000, 85000, 73000, 67000, 61000, 79000, 82000, 74000, 66000,
        78000, 62000, 83000, 76000, 71000, 63000, 80000, 75000, 87000, 72000
    ]
}

**DataFrame Creation:**
- Create a Pandas DataFrame named 'employees' from the provided dictionary 'employee_data'.
- Use their employee number as row index. Remove the row index column name.

**Data Exploration:**
- Display the first 3 rows of the DataFrame to get an overview of the data. 
- Check the summary statistics for the 'Salary' column. 
- Determine the number of employees in each department.

**Data Analysis:**
- Display the min, max, mean and median of the 'Salary' column.
- Identify the employee(s) with the highest salary and their details.
- Determine the department with the lowest average salary.
- Add a new column 'Salary Increase' to the DataFrame, where each employee's salary is increased by 10%.

In [21]:
# Your code
employees = pd.DataFrame(employee_data)
employees.index = employees["EmployeeID"]
employees.index.name = None

# 1. employees.head(3)
# 2. employees["Salary"]
# 3. employees.groupby(employees["Department"])["Name"].count()

# Data Analysis
# 1.
# employees["Salary"].min()
# employees["Salary"].max()
# employees["Salary"].mean()
# employees["Salary"].median()
# 2.
# employees.sort_values(by="Salary", ascending=False).iloc[0]
# 3. 
# employees.groupby("Department")["Salary"].sum().sort_values()
# 4. 
# employees["Salary Increase"] = [salary * 1.1 for salary in employees["Salary"]]
# employees.drop(columns=["Salary Increase"], inplace=True)
employees["Salary Increase"] = employees["Salary"] * 1.1
employees

     EmployeeID       Name Department  Salary  Salary Increase
101         101      Alice         HR   60000          66000.0
102         102        Bob         IT   75000          82500.0
103         103    Charlie    Finance   80000          88000.0
104         104      David  Marketing   70000          77000.0
105         105       Emma      Sales   65000          71500.0
106         106      Frank         IT   72000          79200.0
107         107      Grace         HR   68000          74800.0
108         108     Hannah    Finance   81000          89100.0
109         109        Ian  Marketing   69000          75900.0
110         110       Jack      Sales   66000          72600.0
111         111  Katherine         IT   77000          84700.0
112         112        Leo         HR   64000          70400.0
113         113        Mia    Finance   85000          93500.0
114         114     Nathan  Marketing   73000          80300.0
115         115     Olivia      Sales   67000          73700.0
116         116       Paul         HR   61000          67100.0
117         117      Quinn         IT   79000          86900.0
118         118     Rachel    Finance   82000          90200.0
119         119     Samuel  Marketing   74000          81400.0
120         120       Tina      Sales   66000          72600.0
121         121        Uma         IT   78000          85800.0
122         122     Victor         HR   62000          68200.0
123         123      Wendy    Finance   83000          91300.0
124         124     Xander  Marketing   76000          83600.0
125         125    Yasmine      Sales   71000          78100.0
126         126       Zack         HR   63000          69300.0
127         127       Adam         IT   80000          88000.0
128         128      Bella    Finance   75000          82500.0
129         129      Chris  Marketing   87000          95700.0
130         130      Diana      Sales   72000          79200.0

## 4. Sales data

In [31]:
import numpy as np

sales_data = {
    'Product_ID': list(range(101, 151)),
    'Product_Name': [
        'Laptop', 'Smartphone', 'Tablet', 'Headphones', 'Smartwatch', 'Gaming Console', 'Keyboard', 'Mouse', 
        'Monitor', 'Printer', 'Speaker', 'Camera', 'External Hard Drive', 'Router', 'Microphone',
        'Smart TV', 'Projector', 'Power Bank', 'VR Headset', 'Graphics Card', 'Processor', 'RAM', 
        'Motherboard', 'SSD', 'HDD', 'USB Flash Drive', 'Cooling Pad', 'Tripod', 'Streaming Device', 
        'E-Reader', 'Wireless Charger', 'Portable Speaker', 'Game Controller', 'Webcam', 'Smart Light', 
        'Smart Doorbell', 'Fitness Band', 'Drone', 'Bluetooth Adapter', 'Drawing Tablet', 'Coffee Maker', 
        'Air Purifier', 'Robot Vacuum', 'Electric Kettle', 'Blender', 'Toaster', 'Smart Refrigerator', 
        'Washing Machine', 'Oven', 'Microwave'
    ],
    'Category': [
        'Electronics', 'Electronics', 'Electronics', 'Accessories', 'Electronics', 'Gaming', 'Accessories', 
        'Accessories', 'Electronics', 'Office Supplies', 'Audio', 'Photography', 'Storage', 'Networking', 
        'Audio', 'Electronics', 'Office Supplies', 'Accessories', 'Gaming', 'Computer Components', 
        'Computer Components', 'Computer Components', 'Computer Components', 'Storage', 'Storage', 
        'Accessories', 'Accessories', 'Photography', 'Streaming', 'Electronics', 'Accessories', 'Audio', 
        'Gaming', 'Accessories', 'Smart Home', 'Smart Home', 'Wearable', 'Drones', 'Accessories', 
        'Accessories', 'Home Appliances', 'Home Appliances', 'Home Appliances', 'Home Appliances', 
        'Home Appliances', 'Home Appliances', 'Home Appliances', 'Home Appliances', 'Home Appliances', "Audio"
    ],
    'Price': [
        1200, 800, 400, 100, 300, 500, 50, 40, 250, 150, 200, 700, 120, 90, 60, 1000, 850, 35, 
        600, 400, 300, 150, 200, 180, 130, 20, 45, 100, 120, 250, 75, 220, 55, 90, 200, 180, 
        150, 300, 110, 150, 180, 220, 100, 120, 400, 500, 450, 350, 320, 312
    ],
    'Quantity_Sold': [
        50, 100, 80, 200, 120, 75, 95, np.nan, 60, 110, 130, 40, np.nan, 85, 90, 55, 30, 200, 
        35, np.nan, 65, 45, 100, 70, 85, 150, np.nan, 90, 50, 200, 105, 65, 140, 55, 60, 70, 
        np.nan, 30, 45, 90, 35, 60, 95, np.nan, 110, 75, 55, 80, 100, 22
    ],
    'Brand': [
        'Dell', 'Apple', 'Samsung', 'Sony', 'Fitbit', 'Microsoft', 'Logitech', 'HP', 'LG', 'Canon', 
        'JBL', 'Nikon', 'Seagate', 'TP-Link', 'Blue Yeti', 'Samsung', 'Epson', 'Anker', 'Oculus', 
        'NVIDIA', 'Intel', 'Corsair', 'ASUS', 'Kingston', 'Western Digital', 'SanDisk', 'Cooler Master', 
        'Manfrotto', 'Roku', 'Amazon', 'Belkin', 'Bose', 'Xbox', 'Logitech', 'Philips', 'Ring', 
        'Garmin', 'DJI', 'TP-Link', 'Wacom', 'Keurig', 'Dyson', 'iRobot', 'Breville', 'Ninja', 'Cuisinart', 
        'Samsung', 'LG', 'Bosch', 'Panasonic'
    ],
    'Release_Year': [
        2021, 2020, 2019, 2022, 2021, 2020, 2018, 2017, 2019, 2022, 2021, 2020, 2019, 2021, 2018, 
        2022, 2021, 2020, 2023, 2021, 2019, 2020, 2018, 2022, 2023, 2017, 2018, 2019, 2020, 2021, 
        2018, 2019, 2022, 2020, 2021, 2023, 2022, 2018, 2020, 2019, 2021, 2023, 2020, 2022, 2021, 
        2019, 2018, 2020, 2023, 2022
    ],
    'Ratings': [
        4.5, 4.7, 4.3, 4.2, 4.6, 4.8, 4.0, np.nan, 4.1, 4.3, 4.6, 4.7, np.nan, 4.5, 4.0, 
        4.4, 4.1, 3.9, 4.9, np.nan, 4.2, 4.0, 4.3, 4.6, 4.8, 4.1, np.nan, 4.5, 4.2, 4.7, 
        4.0, 4.3, 4.1, 4.6, 4.2, 4.8, 4.9, np.nan, 4.0, 4.1, 4.3, 4.6, 4.2, 4.5, np.nan, 
        4.7, 4.3, 4.2, 4.8, 4.1
    ]
}

print(len(sales_data["Product_ID"]))
print(len(sales_data["Product_Name"]))
print(len(sales_data["Category"]))
print(len(sales_data["Price"]))
print(len(sales_data["Quantity_Sold"]))
print(len(sales_data["Brand"]))
print(len(sales_data["Release_Year"]))
print(len(sales_data["Ratings"]))

50
50
50
50
50
50
50
50

**DataFrame Creation:**
- Create a Pandas DataFrame named 'sales' from the provided dictionary 'sales_data'.
    <details>
    <summary> error? </summary>
    When trying to create a DataFrame, you get an error. The values of the dictionary are not of equal length... Meaning, the last entry/entries is/are incomplete. Omit these entries to create the DataFrame.
    </details>

- Use the Product ID's as index and remove the index heading.
- Set all NaN values in the "Quantity_Sold" column to 0.
- Delete rows containing NaN values except if they only occur in the ratings column. Check the documentation of the known method to delete rows containing NaN's. 
- Show the first 5 rows (without using slicing) and display information about the DataFrame.
- Show the dimensions of the DataFrame

**Indexing and Slicing:**
- Access the last 2 rows and the 'Product_Name' and 'Price' columns using both label-based and positional-based indexing.
- Extract the data for products with product id's 105 to 118 and all columns using integer-based indexing.
    - Don't start counting the rows. It might be useful to reset de indices back to position integers. We still want to keep the Product_ID in our DataFrame, make a new column for this data with an appropriate name.
- **Boolean filtering:** Filter the data to include only products priced below 100.

In [40]:
# Your code
sales = pd.DataFrame(sales_data)

In [43]:
sales.index = sales["Product_ID"]
sales.index.name = None

new_quantity_sold = sales["Quantity_Sold"].fillna(0)
sales["Quantity_Sold"] = new_quantity_sold

sales

,Product_ID,Product_Name,Category,Price,Quantity_Sold,Brand,Release_Year,Ratings
101,101,Laptop,Electronics,1200,50.0,Dell,2021,4.5
102,102,Smartphone,Electronics,800,100.0,Apple,2020,4.7
103,103,Tablet,Electronics,400,80.0,Samsung,2019,4.3
104,104,Headphones,Accessories,100,200.0,Sony,2022,4.2
105,105,Smartwatch,Electronics,300,120.0,Fitbit,2021,4.6
106,106,Gaming Console,Gaming,500,75.0,Microsoft,2020,4.8
107,107,Keyboard,Accessories,50,95.0,Logitech,2018,4.0
108,108,Mouse,Accessories,40,0.0,HP,2017,NaN
109,109,Monitor,Electronics,250,60.0,LG,2019,4.1
110,110,Printer,Office Supplies,150,110.0,Canon,2022,4.3
111,111,Speaker,Audio,200,130.0,JBL,2021,4.6
112,112,Camera,Photography,700,40.0,Nikon,2020,4.7
113,113,External Hard Drive,Storage,120,0.0,Seagate,2019,NaN
114,114,Router,Networking,90,85.0,TP-Link,2021,4.5
115,115,Microphone,Audio,60,90.0,Blue Yeti,2018,4.0
116,116,Smart TV,Electronics,1000,55.0,Samsung,2022,4.4
117,117,Projector,Office Supplies,850,30.0,Epson,2021,4.1
118,118,Power Bank,Accessories,35,200.0,Anker,2020,3.9
119,119,VR Headset,Gaming,600,35.0,Oculus,2023,4.9
120,120,Graphics Card,Computer Components,400,0.0,NVIDIA,2021,NaN
121,121,Processor,Computer Components,300,65.0,Intel,2019,4.2
122,122,RAM,Computer Components,150,45.0,Corsair,2020,4.0
123,123,Motherboard,Computer Components,200,100.0,ASUS,2018,4.3
124,124,SSD,Storage,180,70.0,Kingston,2022,4.6
125,125,HDD,Storage,130,85.0,Western Digital,2023,4.8
126,126,USB Flash Drive,Accessories,20,150.0,SanDisk,2017,4.1
127,127,Cooling Pad,Accessories,45,0.0,Cooler Master,2018,NaN
128,128,Tripod,Photography,100,90.0,Manfrotto,2019,4.5
129,129,Streaming Device,Streaming,120,50.0,Roku,2020,4.2
130,130,E-Reader,Electronics,250,200.0,Amazon,2021,4.7
131,131,Wireless Charger,Accessories,75,105.0,Belkin,2018,4.0
132,132,Portable Speaker,Audio,220,65.0,Bose,2019,4.3
133,133,Game Controller,Gaming,55,140.0,Xbox,2022,4.1
134,134,Webcam,Accessories,90,55.0,Logitech,2020,4.6
135,135,Smart Light,Smart Home,200,60.0,Philips,2021,4.2
136,136,Smart Doorbell,Smart Home,180,70.0,Ring,2023,4.8
137,137,Fitness Band,Wearable,150,0.0,Garmin,2022,4.9
138,138,Drone,Drones,300,30.0,DJI,2018,NaN
139,139,Bluetooth Adapter,Accessories,110,45.0,TP-Link,2020,4.0
140,140,Drawing Tablet,Accessories,150,90.0,Wacom,2019,4.1
141,141,Coffee Maker,Home Appliances,180,35.0,Keurig,2021,4.3
142,142,Air Purifier,Home Appliances,220,60.0,Dyson,2023,4.6
143,143,Robot Vacuum,Home Appliances,100,95.0,iRobot,2020,4.2
144,144,Electric Kettle,Home Appliances,120,0.0,Breville,2022,4.5
145,145,Blender,Home Appliances,400,110.0,Ninja,2021,NaN
146,146,Toaster,Home Appliances,500,75.0,Cuisinart,2019,4.7
147,147,Smart Refrigerator,Home Appliances,450,55.0,Samsung,2018,4.3
148,148,Washing Machine,Home Appliances,350,80.0,LG,2020,4.2
149,149,Oven,Home Appliances,320,100.0,Bosch,2023,4.8
150,150,Microwave,Audio,312,22.0,Panasonic,2022,4.1

### 4. Sales data part 2

* Read in the additional sales data, stored in the csv file "sales_data.csv" and create a new DataFrame.
* Inspect the file before reading in the data!
* Combine the first sales DataFrame with this new DataFrame in a DataFrame `all_sales`. Ensure both DataFrames are combined correctly. The resulting DataFrame should be of shape 149x8.
* Sort the data from eldest to newest
* Reset the indices to their integer positions, without adding an extra column with the current index label
* Write the resulting DataFrame to a new csv file "all_sales.csv".

In [ ]:
# Sales data part 2

# Your code

#### About the dataset

Did you notice something odd?
<details>
  <summary>No</summary>
  Take a closer look!
</details>

<details>
  <summary>Yes</summary>
  An Electric Kettle in the category Photography? An Apple Blender in the category Audio? This seems rather odd. We have to admit, we asked ChatGPT to generate 100 additional entries of sample data in 'csv' format. Surprisingly we got a generated csv as response, easy peasy right? Yes but no...

  ChatGPT knew some context (programming in Python) when generating the csv. Let's take a look at the analysis of the reasoning of ChatGPT. What do you see?

  ![GenAI analysis reasoning](analysis.png)

  The dataset is generated using Python code and relies on numpy random. Therefore, there is no correlation between the Product, Product ID, Category, Brand etc. 

  The moral of the story: GenAI results might seem good or qualitative, but take a closer look, be sceptic and check out the reasoning to confirm the quality.


</details>